#bar {
    margin: 30px /* affects top/bottom & left/right alignment */
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #D4BE98
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px
}

button:hover {
    background-color: #3c3836
}

button:focus {
    border:1px solid #689D6A;
    border-radius:10px;
    background-color: #3c3836
}

grid {
    background:transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding:20px;
    background-color: #282828;
    border:1px solid #689D6A;
    border-radius:10px;
    /* e.g. for common background to all buttons */
}
