/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus-Dark";
  modi: [window,drun];
  display-drun: "";
  display-window: "";
  display-combi: "";
}
@theme "gruvbox-dark.rasi"
