@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    .click-target-container *, .top-sites-list * {
        color: #fff !important ;
        text-shadow: 2px 2px 2px #222 !important ;
    }

    body::before {
        content: "" ;
        z-index: -1 ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
        background: #282828 no-repeat center ;
        background-size: cover ;
        width: 100vw ;
        height: 100vh ;
    }
    
    .search-handoff-button {
    background-color: #3c3836 !important; 
    }
    .fake-textbox {
    color: #f2f2f2 !important; 
    }


}
